//Body
body {
    margin: 0 auto;
}

//Nav
.top-nav {
    display:flex;
    justify-content: flex-start;
    div {
        margin: 10px;
        font-size: large;
    }
}
//Index page
.beer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .index-beer {
        border: solid black 1px;
        width: 300px;
        margin-bottom: 10px;
        padding: 0px 10px 0px 10px;
    }
}

// Show page
.show {
    display: flex;
    justify-content: center;
    
    .show-beer {
        border: solid black 1px;
        padding: 0px 10px 0px 10px;
        
    }
}

// Caption
.caption-box {
    clear:both;

    .caption {
        float: left;
    }
    .rating {
        float: right;
    }
}

a[href] {
    text-decoration: none;
}

//Images 

img {
    height: 300px;
}